.container {
  --color: var(--dark, blue);
  --speed: 200ms;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.radio {
  appearance: none;
}

.label {
  cursor: pointer;
  user-select: none;
  position: relative;
  transition: color var(--speed) ease-out;
}

.check-box {
  display: grid;
  grid-template: "container";
  place-items: center;
  place-content: center;
  height: 1rem;
  aspect-ratio: 1 / 1;
  opacity: 0.9;
  border: 2px solid var(--color);
  border-radius: 234872348px;
}

.check-box > * {
  grid-area: container;
}

.box {
  aspect-ratio: 1;
  height: 0.5rem;
  opacity: 0;
  transition: opacity var(--speed) ease-out;
  background: var(--color);
  aspect-ratio: 1 / 1;
  border-radius: 34223px;
}

.radio:checked + .check-box .box {
  opacity: 0.9;
}

.radio:enabled:not(:checked):is(:hover, :focus) + .check-box .box {
  opacity: 0.3;
}

.radio:enabled:not(:checked):is(:hover, :focus) ~ .label {
  color: var(--gray-900, black);
}

.radio:disabled + :is(.label, .check-box) {
  cursor: default;
}
